body {
    background-color: black;
  }
  h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }
  



h1{
    text-align: center;
font-family: "Shadows Into Light", cursive;
;
color: brown;
text-shadow: 3cm;
font: size 800;;
}
.poster{
    color: white;
    font-family: "Gowun Batang", serif;

}
p{
    color: brown;
    text-align: center;}



    
        
